footer{
    /* border: 3px solid red; */
    text-align: center;
    color: white;
   .copyright{
    font-size: large;
    font-weight: bold;

   }

    .admin-btn{
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: white;
        font-weight: bold;
        color: black;
    }
}