footer{
    /* border: 3px solid red; */
    text-align: center;
    color: white;
   .copyright{
    font-size: large;
    font-weight: bold;
   }

    .admin-btn{
        width: 80px;
        height: 30px;
        border-radius: 10px;
    }
}