#menuItemContainer{
    color: black;
    border: 2px solid gray;
    width: 250px;
    height: 400px;
    background-color: azure;
    display: flex;
    flex-direction: column;
}
#itemImage{
    img{ 
        width: 100%;
        }
    cursor: pointer;
}

#itemDetail{
    display: flex;
    justify-content: space-between;
}

#details{
    padding:0 0 0 4px;
    display: flex;
    flex-direction: column;
    width: 85%;

    #title, #description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
}

#icon{
    margin:3px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 16px 2px;
   .star{
        cursor: pointer;
   }
   .addToCart{
        cursor: pointer;
   }

}

@media screen and (max-width: 600px){
    #menuItemContainer{
        border: 2px solid gray;
        width: 250px;
        flex-wrap: wrap;
    }
    #itemImage{
        img{ 
            width: 100%;
        }
    }
    #details{
        padding:0 0 0 4px;
        max-width: 150px;
    
        #title, #description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}