#signupContentContainer{
    display: flex;
    justify-content: center;

    #signupContentBox{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 20px;
    }

    form{
        display: flex;
        flex-direction: column;
    }

    label{
        margin: 5px;
    }

    #spacer{
        min-height: 20px;
    }
    button{
        background-color: lightgrey;
        border-radius: 20px;
        cursor: pointer;
    }
    button:hover{
        background-color: gray;
      
    }
    input{
        height: 30px;
    }
}


.confirmation {
    text-align: center;
}

.confirmation h2 {
    margin-bottom: 10px;
}

.confirmation a {
    color: rgb(78, 73, 73);
    text-decoration: none;
    font-weight: bold;
}
.error{
    color:red;
    margin-top: 20px;
}